/* Background Button : #3298a4; */
/* Background Input : #a4c4c0; */
/* Border Outer : #3298a4; */

:root{
    --backInp : #a4c4c0;
    --backButton : #3298a4;
    --borderCol: #3298a4;
}

.D-flex{
    display: flex;
    justify-content: space-between;
}

.Reset{
    position: relative;
}

.RPage{
    position: absolute;
    left: 50%;
    transform: translate(-50%,30%);
    width: 700px;
    background-color: var(--backInp);
    border: 1px solid var(--borderCol);
}


.RColumn{
    width: 70%;
}

.RColumn:first-child{
    width: 30%;
}

.RRow1,.RRow2,.RRow3{
    height: 75px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.RColumn input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--borderCol);
    background-color: var(--backInp);
    outline: none;
    
}

.RPButton{
    margin: 20px;
    background-color: var(--backButton);
    border: none;
    /* outline: none; */
   
}

.RMsg{
    color: red;
    background-color:transparent;
    position: absolute;
    bottom: 5%;
    left: 40%;
    outline: none;
    border: none;
}

.RMsgConfirm{
    color: green;
    background-color:transparent;
    position: absolute;
    bottom: 5%;
    left: 40%;
    outline: none;
    border: none;
}
